@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">姓名</span>
    </div>
    <input type="text" class="form-control" id="name" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>


<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">手機</span>
    </div>
    <input type="text" class="form-control" id="phone" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">生日</span>
    </div>
    <input type="date" class="form-control" id="birthday" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">總分</span>
    </div>
    <input type="text" class="form-control" id="sum" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<input type="button" id="insert" value="確認送出" class="btn btn-warning" />


<script type="text/javascript">
    $(document).ready(function () {
        $("#insert").click(function () {
            $.ajax({
                type: "POST",
                url: "/Home/Insertdata",
                data: {

                    name: $("#name").val(),
                    phone: $("#phone").val(),
                    birthday: $("#birthday").val(),
                    sum: $("#sum").val()

                },
                success: function (data) {
                    alert("新增成功")
                }

            });
        });
    })
</script>